body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.container{
	.list_ul{
		margin: 2em 0 1em 2em;
		padding: 0;
		li{
			list-style:none;
			padding: 1em;
			margin: 0;
			border: 1px solid #ccc;
			p{
				display: inline;
			}
			a{
				margin-right: 0.5em;
				float: right;
				&.list_delete{

				}
			}
			.list_modify{
				display: none;
			}
		}
	}
	.addListForm{
		margin: 0 0 1em 2em;
	}
}